<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
<body>

<div class="container">
    <h2>Edit Category</h2>

    <form th:action="@{/edit-cate}" method="post" th:object="${cate}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="usr">Name</label>
            <input type="text" class="form-control" id="usr" th:field="*{name}"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>