<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">
        Add new customer
    </a>
</p>

<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customers}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${row.id})}" onclick="return confirm('co chac muon xoa')">delete</a>
        </td>
        <td><a th:href="@{/customer/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>

</table>
<footer th:replace="/layout :: footer"></footer>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
</body>
</html>l>