<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
<body>

<div class="container">
    <h2>Add Province</h2>

    <form action="add-province" method="post" th:object="${add}" >
        <div class="form-group">
            <label for="usr">FistName:</label>
            <input type="text" class="form-control" id="usr" th:field="*{name}"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>